[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
pylint = "*"
flask-swagger-ui = "*"
marshmallow-sqlalchemy = "*"
pyjwt = "*"
flask = "==1.1.4"
sanic = "*"
aiopg = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"
coverage = "*"

[requires]
python_version = "3.9"
